= render "products/header"
.ad_all
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .ad
    .ad__ad
      .ad__ad__add
        会員情報入力
      .ad__ad__add2
        .ad__ad__add2__add3
          .ad__ad__add2__add3__add4
            ニックネーム
          .ad__ad__add2__add3__add5
            必須
          .ad__ad__add2__add3__add6
            = f.text_field :nickname, placeholder: '例) 小泉純一郎', class: "ad1"
        .ad__ad__add2__add3
          .ad__ad__add2__add3__add4
            メールアドレス
          .ad__ad__add2__add3__add5
            必須
          .ad__ad__add2__add3__add6
            = f.email_field :email, placeholder: 'PC・携帯どちらでも可', class: "ad1"
        .ad__ad__add2__add3
          .ad__ad__add2__add3__add4
            パスワード
          .ad__ad__add2__add3__add5
            必須
          .ad__ad__add2__add3__add6
            = f.password_field :password, autocomplete: 'ad1', class: "ad1"
        .ad__ad__add2__add3
          .ad__ad__add2__add3__add4
            パスワード（再確認）
          .ad__ad__add2__add3__add5
            必須
          .ad__ad__add2__add3__add6
            = f.password_field :password_confirmation, autocomplete: "ad1", class: "ad1"
        .ad__ad__add2__add333
          .ad__ad__add2__add333__330
            本人確認
          .ad__ad__add2__add333__331
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .ad__ad__add2__add3333
          .ad__ad__add2__add3333__2020
            .ad__ad__add2__add3333__2020__2020a
              お名前（全角）
            .ad__ad__add2__add3333__2020__2020b
              必須
          .ad__ad__add2__add3333__2021
            .ad__ad__add2__add3333__2021__2021a
              = f.text_field :last_name, placeholder: '例) 小泉' , class: "ad12"
            .ad__ad__add2__add3333__2021__2021b
              = f.text_field :first_name, placeholder: '例) 純一郎', class: "ad12"
        .ad__ad__add2__add3333
          .ad__ad__add2__add3333__2020
            .ad__ad__add2__add3333__2020__2020a
              お名前（全角カナ）
            .ad__ad__add2__add3333__2020__2020b
              必須
          .ad__ad__add2__add3333__2021
            .ad__ad__add2__add3333__2021__2021a
              = f.text_field :last_name_kana, placeholder: '例) コイヅミ', class: "ad12"
            .ad__ad__add2__add3333__2021__2021b
              = f.text_field :first_name_kana, placeholder: '例) ジュン', class: "ad12"
        .ad__ad__add2__add33333
          .ad__ad__add2__add33333__333a
            .ad__ad__add2__add33333__333a__333b
              生年月日
            .ad__ad__add2__add33333__333a__333c
              必須
        .ad__ad__add2__444a
          .ad__ad__add2__444a__444ab
            = f.collection_select( :birthdate_year, Year.all, :id, :year, prompt: "---",class: "addadd")
            年
          .ad__ad__add2__444a__444ab
            = f.collection_select( :birthdate_month, Month.all, :id, :month, prompt: "---",class: "addadd")
            月
          .ad__ad__add2__444a__444ab
            = f.collection_select( :birthdate_day, Day.all, :id, :day, prompt: "---",class: "addadd")
            日
        .ad__ad__add2__444b
          = f.text_field :phone_number, placeholder: '携帯電話の番号を入力', class: "numnum"
        .hon
          ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .next-end
          = f.submit "登録", class: "next-end__end-end"
.listing__footer
  .nav
    %ul
      %li プライバシーポリシー
      %li フリマ利用規約
      %li 特定商取引に関する表記
  .listing__footer__logo
    = image_tag "logo_gray.svg", alt:"merukari", size:"30x100"
    %p © Furima, Inc.
          