= render "shared/header"
.wrapper
  .container-mypage
    = render "users/side_bar"
    .container-mypage__content
      .container-mypage__content-usericon
        .container-mypage__usericon-member
          %figure
          .user
            名前
          .user-number
            .user-number-evaluation
              評価数０
            .user-number-exhibitin
              出品数０
      .container-mypage__news
        %ul.news-tab
          %li.news-tab-active
            .news-tab-active__notice
              お知らせ
          %li.news-tab-activelist
            .news-tab-activelist__notice
              やることリスト
      
      .new
        .news
          .new-content
        .new-content-message
          %figure
            = image_tag "mypage-icon.jpg",width:"50"
          .new-content-message__text  
            友達を招待したら必ずポイントがもらえるキャンペーン開催中
          %i.fa.fa-chevron-right
        .new-content-message
          %figure
            = image_tag "mypage-icon.jpg",width:"50"          
          .new-content-message__text
            事務局から個別メッセージ「ログイン通知」
          %i.fa.fa-chevron-right
        .new-content-message
          %figure
            = image_tag "mypage-icon.jpg",width:"50"
          .new-content-message__text
            事務局から個別メッセージ「ログイン通知」
          %i.fa.fa-chevron-right
        .new-content-message
          %figure
            = image_tag "mypage-icon.jpg",width:"50"
          .new-content-message__text
            最大P1,000がもらえるキャンペーンが開催中
          %i.fa.fa-chevron-right
        .new-content-message
          %figure
            = image_tag "mypage-icon.jpg",width:"50"
          .new-content-message__text
            友達を招待したら必ずポイントがもらえるキャンペーン開催中！
          %i.fa.fa-chevron-right
        .new-content-message__all 
          .new-content-message__all_buttom
            一覧を見る
        .content-buy
          .content-buy-head
            購入した商品
          .content-buy-tab
            .content-buy-tab-new
              .content-buy-tab-new__latest
                取引中
            .content-buy-tab-low
              .content-buy-tab-low__past
                過去の取引
          .list-content-transaction
            .listing-buy
              = image_tag "mypage.buy.jpg" , class: "listing-buy-completed"
          %ul.list-content-transaction-active__now
= render "shared/footer"
= render "shared/purchasebtn"
