= render "products/header"  
%main.main
  %section.main__container
    %h2.tema 購入内容の確認
    %section.check
      .check__content-inner
        .check__item__box
          %h3.check__item__image
            -# -%img.lazyload
            -# = image_tag "dino.jpg", size:"70x110"
          .check__item__detail
            .check__item__detail__name
              .name-title
                = "出品者名"
              .name
                = "#{@product.name}"
    %section.buycontent
      .buycontent__inner
        .buy-form{action: "#", method: "POST", novalidate: "novalidate"}
          %ul.buy-price-table
            %li.buy-price-row.buy-you-pay.bold
              .buy-price-cell-label 支払い金額
            %li.check__price
              .price
                = "#{@product.price} "
                .yen 　円
              - if @product.shipping_burden == "送料込み（出品者負担)"
                %span.shipping-fee (税込)送料込み
          %ul.buyaccordion
            %li.byaccordion__parent
              .checkbox-default.buy-use-point
                %input{disabled: "disabled", type: "checkbox"}/
                %i.icon-check
                %label.label ポイントを使用 (所持ポイント: P0)
          %section.buycontentoo{"data-buy" => "pay-method"}
            .buycontentoo__inner
              %h3.paymethod 支払い方法
              = link_to '#' do
                %p.buy-user-info-text
                  %i.fas.fa-plus-circle
                  %span.register 登録してください
                  
          %section.buycontentoo
            .buycontentoo__inner
              %h3.adress 配送先
              = link_to '#' do
                %p.buy-user-info-text.a
                  %i.fas.fa-plus-circle
                  %span.register 登録してください
                  
            %input#user_info_is_not_complete{type: "hidden"}/
            %section.buy-content.buy-user-info
              = form_with(url: buy_purchases_path(@product.id), method: :post, local: true) do
                %button.payjp-button{type: "submit","data-key" => 'pk_test_860ad7005e25946e1fd66f93', src: "https://checkout.pay.jp"}
                  購入する

  .listing__footer
    .nav
      %ul
        %li プライバシーポリシー
        %li フリマ利用規約
        %li 特定商取引に関する表記
    .listing__footer__logo
      = image_tag "logo_gray.svg", alt:"merukari"
      %p © Furima, Inc.
