%header.headermain
  .headerinner
    .headerHeader
      %h1.icon
        = link_to '/' do
          = image_tag src='logo.png'
          -# = image_tag "logo.png"
      .searchbox
        %form
          %input{type: 'hidden'}
          %input{placeholder: 'キーワードから探す'}
          %button
            .searchbox__icon
              = image_tag src='icon-search 1.png'
          %input{type: 'hidden'}
      %ul.resultlists
    .nav
      %ul.listsLeft
        %li.listsLeft__item.listsLeft__item--first
          = link_to 'カテゴリー', 'categorys_path', id: 'catBtn'
        %li.listsLeft__item
          = link_to 'ブランド', '#', id: 'brandBtn'
      %ul.listsRight
      - if user_signed_in?
        %li.listsRight__item.listsRight__item--new
          = link_to 'ログアウト', destroy_user_session_path,method: :delete
      - else
        %li.listsRight__item.listsRight__item--login
          = link_to 'ログイン', user_session_path
        %li.listsRight__item.listsRight__item--new
          =link_to '新規登録', signup_index_path
        
