.main
  %section.main__content
    .content
      %h2.content__subtitle
        %br/
        人生を変えるフリマアプリ
      %p.content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
      .content__btn
        =link_to "#" , class:'btn1' do
          =image_tag src = 'http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg'
        
        =link_to "#" , class:'btn2' do
          =image_tag src = 'http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg'

      .picture
  %section.topintro
    %h2.subtitle
      FURUMAが選ばれる3つの理由
    %ul.lists
      %li.list
        .list__pict
          %span.number 1
          = image_tag src='pict-reason-01.jpg'
        %h3.list__text
          %span 3分
          ですぐに出品
        %p.list__description
          スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__pict
          %span.number 2
          = image_tag src='pict-reason-02.jpg'
        %h3.list__text
          %span シンプル
          で使いやすい
        %p.list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list.list--last
        .list__pict
          %span.number 3
          = image_tag src='pict-reason-03.jpg'
        %h3.list__text
          手数料
          %span 業界最安
        %p.list__description
          最大3%でお得に出品&購入！
  %section.topMiddlecontent
    .topMiddlecontent__inner
      %h2.subtitle 会員数日本一位
      %p.text
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .btn
        = link_to '#' do
          = image_tag src='http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg', class: 'btn1'
        = link_to '#' do
          = image_tag src='http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg', class: 'btn2'
  %section.topFeatures
    %h2.head
      FURIMAの特徴
    .items
      %section.item
        %figure.item__img
          = image_tag src='icon-01.png'
        %h3.item__subtitle 簡単に売り買いできる
        %p.item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %section.item
        %figure.item__img
          = image_tag src='icon-03.png'
        %h3.item__subtitle 売上金は即日振込みに対応
        %p.item__detail
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
      %section.item
        %figure.item__img
          = image_tag src='icon-04.png'
        %h3.item__subtitle 様々な支払いに対応
        %p.item__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  %section.pickupContent
    %h2.head ピックアップカテゴリー
    .productBox
      .productHead
        = link_to '#' do
          %h3.title 新規投稿商品
      .productLists
        - @products.each do |product| 
          .productList
            -# 式展開を使用するには""で囲む
            = link_to product_path(product)  do
              %figure.productList--img
                - @images.each do |image|
                  - if product.id == image.product_id
                    = image_tag "#{image.src}" 
                    - break
              .productList--body
                %h3.name 
                  = product.name
                .details
                  %ul
                    %li 
                    = "#{product.price}円"
                    %li
                      = icon('fa', 'star', class: 'likeIcon')
                      0
                  %p (税込)

    %section.pickupContent
      %h2.head ピックアップブランド
      .productBox
        .productHead
          = link_to '#' do
            %h3.title アーカイバ

  %aside.appBanner
    .inner
      %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
      %p.inner__text 今すぐ無料ダウンロード！
      .inner__icon
        = link_to '#' do
          = image_tag src='http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg', class: 'LinkIcon btn1'
        = link_to '#' do
          = image_tag src='http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg', class: 'LinkIcon btn2'