= render "shared/header"
.wrapper
  .container-mypage
    = render "users/side_bar"
    .user-card__content
      %h2 クレジットカード情報入力
      = form_tag(pay_card_index_path, method: :post, id: 'charge-form',class: "card__form",  name: "inputForm") do
        .card__form__content
          .card__form__content--number.form_space
            = label_tag "card_number", "カード番号"
            %span 必須
            = text_field_tag "number", "", class: "number", id: "card_number", placeholder: "半角数字のみ" ,maxlength: "16", value: ""
            %ul.card__form__content--number--cards
              %li
                = image_tag"credit_cards/visa.svg",size: "40x20"
              %li
                = image_tag"credit_cards/master-card.svg",size: "34x20"
              %li
                = image_tag"credit_cards/saison-card.svg",size: "30x20"
              %li
                = image_tag"credit_cards/jcb.svg",size: "32x20"
              %li
                = image_tag"credit_cards/american_express.svg",size: "32x20"
              %li
                = image_tag"credit_cards/dinersclub.svg",size: "32x20"
              %li
                = image_tag"credit_cards/discover.svg",size: "32x20"
          .card__form__content--expired.form_space
            = label_tag "card_expired", "有効期限"
            %span 必須
            .card__form__content--expired--month
              .card__form__content--expired--month__bpx
                .card__form__content--expired--month__select-box
                  %select{name: "exp_month", class: "select--item",id: "exp_month"}
                    %option{value: "1"}01
                    %option{value: "2"}02
                    %option{value: "3"}03
                    %option{value: "4"}04
                    %option{value: "5"}05
                    %option{value: "6"}06
                    %option{value: "7"}07
                    %option{value: "8"}08
                    %option{value: "9"}09
                    %option{value: "10"}10
                    %option{value: "11"}11
                    %option{value: "12"}12
                %span 月
              .card__form__content--expired--year
                .card__form__content--expired--year__select-box
                  %select{name: "exp_year", class: "select--item",id: "exp_year"}
                    %option{value: "2020"}20
                    %option{value: "2021"}21
                    %option{value: "2022"}22
                    %option{value: "2023"}23
                    %option{value: "2024"}24
                    %option{value: "2025"}25
                    %option{value: "2026"}26
                    %option{value: "2027"}27
                    %option{value: "2028"}28
                    %option{value: "2029"}29
                    %option{value: "2030"}30
                %span 年
          .card__form__content--security
            = label_tag "security", "セキュリティコード"
            %span 必須
            = text_field_tag "security","",id:"cvc",class:"security",name: "cvc",placeholder: "カード背面4桁もしくは3桁の番号",maxlength: "3", value: ""
          .card__form__content--help.form_space
            %i.fas.fa-question-circle
            カード裏面の番号とは？
          .card__form__content--btn
            #card_token
            %button{type: "submit",class: "btn-red",id:"token_submit"}
              追加する
= render "shared/footer"
= render "shared/purchasebtn"