.listing__wrapper
  = render "products/header"
  .listing__contents
    = form_for @product do |f|
      %h2.listing__contents__info
        商品の情報を入力
      .new_item__image
        .new_item__image__upload
          %h3.exhibition__main__container__inner__form__image__upload__head
            出品画像
            %span.new_item__image__upload__head__require 必須
          %p 最大5枚までアップロードできます
          #image-box2
            #previews2
              - if @product.persisted?
                - @product.images.each_with_index do |image, i|
                  %li.adsaf
                    = image_tag image.src.url, data: { index: i }, class: "edit_img_#{i}",id: :pre_img
                    .js-remove{data: { index: i }, name: "[edit_remove][#{i}]"} 削除
            = f.fields_for :images do |image|
              %label.js-file_group3{"data-index": "#{image.index}", id: "dropArea2"}
                = image.file_field :src, class: 'js-file2'
                = image.hidden_field :_destroy, data:{ index: image.index }, value: 0, class: "delete_img_#{image.index}"
            - if @product.persisted?
              .js-file_group3{"data-index": "#{@product.images.count}", style: 'display: none'}
                = file_field_tag :src, name: "product[images_attributes][#{@product.images.count}][src]", class: 'js-file2', id: "img-file"
            %pre.visible-pc
              :preserve
                クリックしてファイルをアップロード
              %i.icon-camera.fas.fa-camera
          #img_error
      .listing__contents__name
        .group
          %label 商品名 
          %span.required 必須
          #item_name_error
          %br/
          =f.text_field :name, class: "name", placeholder: "商品名(必須40文字まで）", id: :item_name
          - if @product.errors[:name].any?
            %p 入力してください
        .group
          %label 商品の説明
          %span.required 必須
          #item_detail_error
          %br/
          =f.text_area :description, class: "text", placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。",id: :item_detail
          -if @product.errors[:description].any?
            %p 入力してください
      .listing__contents__detail
        %h3 商品の詳細
        .form-box
          .listing-product-detail__category
            = f.label 'カテゴリー', class: 'listing-default__label'
            %span.required 必須
            #category_error
            .listing-select-wrapper
              .listing-select-wrapper__box
                //親カテゴリーのセレクトボックスの生成
                = select_tag(:category_id, options_for_select(@category_parent_array, selected: @parent.name),class: 'listing-select-wrapper__box--select', id: 'parent_category')   
            .listing-select-wrapper#children_wrapper   
              .listing-select-wrapper__box
                //親カテゴリーのセレクトボックスの生成
                %select{class: 'listing-select-wrapper__box--select', id: 'child_category'}
                  %option{value: "---","data-category": "---"} ---
                  %option{value: "#{@child.id}","data-category": "#{@child.id}", selected: true} #{@child.name}
                  - @child.siblings.each do |child|
                    %option{value: "#{child.id}","data-category": "#{child.id}"} #{child.name}
            .listing-select-wrapper#grandchildren_wrapper     
              .listing-select-wrapper__box
                #grandchildren_wrapper.listing-select-wrapper__added
                  .listing-select-wrapper__box
                    = f.collection_select(:category_id, @grand_child, :id, :name, {prompt: "---"}, {id: "grandchild_category"})
          .group
            %label 商品の状態
            %span.required 必須
            %br/
            .select
              =f.select :condition, ["新品、未使用", "未使用に近い", "目立った傷や汚れなし", "やや傷や汚れあり", "傷や汚れあり", "全体的に状態が悪い"], prompt: "---", id: :status
              - if @product.errors[:condition].any?
                .error-message
                  %p 選択してください    


      .listing__contents__deliver
        %h3 配送について
        .form-box
          .group
            %label 配送料の負担
            %span.required 必須
            .select
              =f.select :shipping_burden, ["送料込み（出品者負担)", "着払い（購入者負担)"], prompt: "---",id: :item_mail
              %br/
              - if @product.errors[:shipping_burden].any?
                .error-message
                  %p 選択してください
          .group
            %label 発送元の地域
            %span.required 必須
            .select-1
              =f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "---", class: "prefecture",id: :item_prefecture_id
              %br/
          .group
            %label 発送までの日数
            %span.required 必須
            .select
              =f.select :shipping_date, ["1~2日で発送", "2~3日で発送", "4~7日で発送"], prompt: "---",id: :item_arrival_date_id
              - if @product.errors[:shipping_date].any?
                .error-message
                  %p 選択してください
      .listing__contents__price
        %h3 販売価格(300~9,999,999)
        %ul.price-box
          %li.prices
            .group
              .group__left
                価格
                %span.required-2 必須
              .group__right
                .en
                  ￥
                =f.text_field :price, placeholder: "例）300",value: @product.price, class: "price", id: :item_price
                - if @product.errors[:price].any?
                  %p 300以上9999999以下で入力してください
            
            .product_price-fee-box
              .product_price-fee
                .product_price-feegroup__left
                  販売手数料(10%)
                .right_bar

            .product_profit
              .product_profit
                .product_profit__left
                  販売利益
                .right_bar_2
            #price_error

      .listing__contents__confirms
        =f.submit '編集する', class: "submit",id: :edit_submit
        .back-btn
          =link_to 'もどる', root_path
    .listing__footer
      .nav
        %ul
          %li プライバシーポリシー
          %li フリマ利用規約
          %li 特定商取引に関する表記
    = render "products/footer"