= render "shared/header"  
.semiheader
.product-detail

  //ここから商品詳細
  %section.product-detail__top
    .product-detail__top__product-name
      = @product.name
      
    .product-detail__top__item
      .product-detail__top__item-image
        .product-detail__top__item-image-main
          = render "shared/swiper"  
      %table.product-detail__top__item-table
        %tr.product-detail__top__item-table__seller
          %th.product-detail__top__item-table__seller-col.col 出品者
          %th.product-detail__top__item-table__seller-item.item 
            = @user.nickname
            .face-icon
              .face-icon--block
                %i.fas.fa-laugh
                %span 0
              .face-icon--block
                %i.fas.fa-meh
                %span 0
              .face-icon--block
                %i.fas.fa-frown
                %span 0
        %tr.product-detail__top__item-table__cat
          %th.product-detail__top__item-table__cat-col.col カテゴリー
          %th.product-detail__top__item-table__cat-item.item
            .product-detail__top__item-table__cat-item__name1
              = @category.root.name
            %br
            .product-detail__top__item-table__cat-item__name2
              %i.fas.fa-chevron-right
              = @category.parent.name
            %br
            .product-detail__top__item-table__cat-item__name3
              %i.fas.fa-chevron-right
              = @category.name
          %tr.product-detail__top__item-table__brand
            %th.product-detail__top__item-table__brand-col.col ブランド
            %th.product-detail__top__item-table__brand-item.item
              = @product.brand_id
              
            .product-detail__top__item-table__brand-item__name
          %tr.product-detail__top__item-table__size
            %th.product-detail__top__item-table__size-col.col サイズ
            %th.product-detail__top__item-table__size-item.item 
              = @product.size
        %tr.product-detail__top__item-table__status
          %th.product-detail__top__item-table__status-col.col 商品の状態
          %th.product-detail__top__item-table__status-item.item
            = @product.condition
            
        %tr.product-detail__top__item-table__postage_burden
          %th.product-detail__top__item-table__postage_burden-col.col 配送料の負担
          %th.product-detail__top__item-table__postage_burden-item.item
            = @product.shipping_burden
            
        %tr.product-detail__top__item-table__sending_method
          %th.product-detail__top__item-table__sending_method-col.col 配送の方法
          %th.product-detail__top__item-table__sending_method-item.item
            
        %tr.product-detail__top__item-table__area
          %th.product-detail__top__item-table__area-col.col 配送元地域
          %th.product-detail__top__item-table__area-item.item
            = Prefecture.find(@product.prefecture_id).name
            
        %tr.product-detail__top__item-table__scheduled_sending_date
          %th.product-detail__top__item-table__scheduled_sending_date-col.col 発送日の目安
          %th.product-detail__top__item-table__scheduled_sending_date-item.item 
            = @product.shipping_date
    .product-detail__top__price-line
      %span.product-detail__top__price-line--price
        = "#{@product.price}"
        円
      %span.product-detail__top__price-line--taxin 
        (税込)
      - if @product.shipping_burden == "送料込み（出品者負担)"
        %span.product-detail__top__price-line--postage 送料込み

    .product-detail__top__description
      -# = link_to product_path, method: :delete, class: "product-detail__change-box--delete-btn common-btn",id: "delete__modal--btn" do
      -#   この商品を削除する
      - if current_user.id == @product.user_id
        .item_edition
          = link_to "編集する",edit_product_path(@product.id), class: "product-detail__change-box--delete-btn common-btn",id: "delete__modal--btn" 
          = link_to "削除する", product_path, method: :delete, class: "product-detail__change-box--delete-btn common-btn",id: "delete__modal--btn", data: {confirm: "出品情報を削除しますか？"}
      - else
        = link_to "購入画面へ進む",purchase_path(@product), class: "product-detail__change-box--delete-btn common-btn",id: "delete__modal--btn" 
        
    .product-detail__top__foot.clearfix
      .product-detail__top__foot__buttons
        .product-detail__top__foot__buttons--like
          = link_to '#', class: 'a-non' do
            %i.far.fa-heart
            %span いいね!
            %span --
        .product-detail__top__foot__buttons--report
          = link_to '#', class: 'a-non' do
            %i.far.fa-flag
            %span 不適切な商品の報告
      .product-detail__top__foot--safety
        = link_to '#' do
          %i.fas.fa-lock
          %span あんしん・あんぜんへの取り組み
  .comment-box
    %ul.comment-contents
      %form#new_comment.new_comment{"accept-charset" => "UTF-8", :action => "#", :method => "post"}
        %input{name: "utf8", :type => "hidden", value: "✓"}/
        %input{name: "authenticity_token", type: "hidden", value: "fgXoY2+wRqz9I9K4zfRRka779AvatztaAuSoCdx6GPgyPI68fa03XdThZ/oTMVhYcBUQxGROrReDhAPtkIiSpQ=="}/
        %textarea.comment_body{name: "comment[body]", required: "required"}
        %p.noticeMsg
          相手のことを考え丁寧なコメントを心がけましょう。
          %br/
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %br/
        .commentspace
          %i.fa.fa-comment
          コメントする 
  .semifooter
    = render "shared/footer"